* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("images/pexels-8moments-1183099.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.clock div {
  width: 100px;
  height: 100px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 85, 0.5);
  margin: 2px;
  font-family: sans-serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hour,
.mintues,
.seconds {
  margin-top: 2rem;
}
.clock div .desc {
  font-size: 0.5rem;
  margin-top: 1.5rem;
  text-transform: uppercase;
  font-weight: bolder;
  background-color: #0000ff;
  width: 100%;
  padding: 10px;
}
.clock {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 2.5rem;
}
.clock .ampm-container {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: transparent;
}
.ampm-container .ampm {
  width: 70%;
  height: 25%;
  background-color: green;
  font-size: 0.8rem;
  padding-top: 0.3rem;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
}
